* {
  box-sizing: border-box;
}

.section {
  background-color: #ebfbff;
  border: 1px solid #a0aeb4;
  border-radius: 20px 0 0 20px;
  height: 700px;
  overflow: auto;
}

.article {
  display: inline-block;
  background-color: #d2c2b1;
  width: 330px;
  border-radius: 20px;
  padding: 30px;
  margin: 10px;
  box-shadow: 0px 0px 10px inset;
}