@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');

/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*----------------------------------------*/

body{
  background-color: #151515;
  color: #e5e5e5;
  font-family: 'Montserrat', sans-serif;
}
/*------------------header------------------*/
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.header__container{
    font-size: 30px;
    line-height: 35px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
@keyframes logo-slide{

    0%{
        margin-top: 0px;
    }

    100%{
        margin-top: 40px;
    }
}
.header__logo{
    font-size: 40px;
    font-weight: bold;
    animation-name: logo-slide;
    animation-duration: 800ms;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;

}
.HEADER-ABSOLUTE{
    position: absolute;
    z-index: 2;
    background-color: #151515;
    width: 400px;
    height: 40px;
    top: 0;left: 0;
}
.header__logo a{
    color: inherit;
}
@keyframes link-appears{

    0%{
        opacity: 0%;
				top: -5px;
    }

    100%{
        opacity: 100%;
				top: 0;
    }
}
.header__nav{}

.header__link{
    opacity: 0%;
    color: #e5e5e5;
    padding: 0 20px;
    animation-name: links-appears;
    animation-duration: 200ms;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
}
.header__link:hover{
    color: #717171;
    transition: all 0.2s;
}
.header__link:first-child{
    padding: 0 20px 0 0;
}
.header__link:last-child{
    padding: 0  0 0 20px;
}
.active-link{
    color: #808080;
}
.header__link-1{
	position: relative;
	animation-name: link-appears;
	animation-duration: 500ms;
	animation-delay: 1.3s;
	animation-fill-mode: forwards;
}
.header__link-2{
	position: relative;
	animation-name: link-appears;
	animation-duration: 500ms;
	animation-delay: 1.2s;
	animation-fill-mode: forwards;
}
.header__link-3{
	position: relative;
	animation-name: link-appears;
	animation-duration: 500ms;
	animation-delay: 1.1s;
	animation-fill-mode: forwards;
}
.header__link-4{
	position: relative;
	animation-name: link-appears;
	animation-duration: 500ms;
	animation-delay: 1.0s;
	animation-fill-mode: forwards;
}
/* ------------------info------------------- */
.info{
  margin: 200px 0 0 0;
}
  .info__container{
  margin: 150px 20px 0;
  padding: 10px;
  background-color: #1C1C1C;
  border-radius: 30px;
}
.info__header{
  font-size: 50px;
  line-height: 55px;
  padding: 15px;
  background-color: #232323;
  border-radius: 20px;
}

.info__answers{}

.info__answers li:nth-child(odd){
  border-radius: 20px;

}
.info__answers li:nth-child(even){
  background-color: #232323;
  border-radius: 20px;
}
.answer{
  padding: 15px;
  font-size: 25px;
  line-height: 30px;
    
}
.plus-minus{
	margin: 10px 0 0 0;
	display: flex;
}
.plus-button{
	display: inline-block;
	width: 100%;
  font-size: 25px;
  border-radius: 20px;
	color: #e5e5e5;
	border: 1px solid #000;
  background-color: rgb(87, 199, 87);
  line-height: 30px;
  padding: 15px;
	margin: 0 5px 0 0;
	text-align: center;
	transition: background-color 200ms;
}
.plus-button:hover{
  background-color: rgba(87, 199, 87, 0.785);
	transition: background-color 200ms;
}
.minus-button{
	display: inline-block;
	width: 100%;
  font-size: 25px;
  border-radius: 20px;
	color: #e5e5e5;
	border: 1px solid #000;
  background-color: rgb(207, 69, 69);
  line-height: 30px;
  padding: 15px;
	margin: 0 0 0 5px;
	text-align: center;
	transition: background-color 200ms;
}
.minus-button:hover{
  background-color: rgba(207, 69, 69, 0.785);
	transition: background-color 200ms;
}
/* ------------------grid------------------- */
.grid{
margin: 50px 20px 0;
background-color: #1C1C1C;
border-radius: 30px;
padding: 10px;
}
.grid__body{
  display: grid;
  grid-template-columns: repeat(7, minmax(90px,1fr));
  grid-template-rows: repeat(6, minmax(40px,80px));
  grid-template-areas: 
    "f f f t t q q"
    "f f f t t q q"
    "f f f t t q q"
    "f f f t t r r"
    "s s s t t a b"
    "s s s t t c d";
    gap: 10px;
}
.grid__item{
  text-align: center;
  padding: 10px;
  background-color: #232323;
  border-radius: 20px;
}
.test-1{
  grid-area: f;}
.test-2{
  grid-area: s;}
.test-3{
  grid-area: t;}
.test-4{
  grid-area: q;}
.test-5{
  grid-area: r;}
.test-6{
  grid-area: a;}
.test-7{
  grid-area: b;}
.test-8{
  grid-area: c;}
.test-9{
  grid-area: d;}
.test-1__container{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.test-1__content-top{
  height: 100%;
  border-radius: 10px;
  background-color: #232323;
}
.test-1__content-bottom{
  height: 100%;
  border-radius: 10px;
  background-color: #1C1C1C;
}
.test-2__container{
  display: flex;
  height: 100%;
  width: 100%;
}
.test-2__content{
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-color: #1C1C1C;
}
.test-3__container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}
.test-3__content-top{
  height: 33.333%;
  border-radius: 10px;
  background-color: #232323;
}
.test-3__content-bottom{
  height: 70%;
  border-radius: 10px;
  background-color: #1C1C1C;
}
.test-4__container{
  display: flex;
  height: 100%;
  width: 100%;
}
.test-4__content{
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-color: #1C1C1C;
}
.test-5__container{
  display: flex;
  height: 100%;
  width: 100%;
}
.test-5__content{
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-color: #1C1C1C;
}
.test-6__container{
  display: flex;
  height: 100%;
  width: 100%;
}
.test-6__content{
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-color: #1C1C1C;
}
.test-7__container{
  display: flex;
  height: 100%;
  width: 100%;
}
.test-7__content{
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-color: #1C1C1C;
}
.test-8__container{
  display: flex;
  height: 100%;
  width: 100%;
}
.test-8__content{
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-color: #1C1C1C;
}
.test-9__container{
  display: flex;
  height: 100%;
  width: 100%;
}
.test-9__content{
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-color: #1C1C1C;
}
/* ------------------calendar------------------- */

.calendar-grid{
  /* border: 1px solid #ffffff; */
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 100px);
  grid-auto-columns: 1fr;
  grid-auto-rows: 100px;
  margin: 50px 20px 0;
  background-color: #1C1C1C;
  border-radius: 30px;
  padding: 10px;
  font-size: 30px;
}
.calendar-item{
  /* border: 1px solid #ffffff; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #232323;
  border-radius: 20px;
}
.calendar-december{
  grid-column-start: 1;
  grid-column-end: -1;
  margin: 0 0 10px 0;
  font-size: 50px;
}
.calendar-november{
  color: #393939;
}
.calendar-item:nth-child(odd){
}
.calendar-item:nth-child(even){
  background-color: #1C1C1C;
}
.calendar-day{
  background-color: #1C1C1C;
}
.calendar-weekend{
  color: #722424;
}
@keyframes glowing-day{

  0%{
    background-color: #1C1C1C;
  }
  50%{
    background-color: #383737;
  }
  100%{
    background-color: #1C1C1C;
  }
}
.calendar-today{
  animation-name: glowing-day;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}